@import '@fontsource/inter';
@import '@fontsource/jetbrains-mono';

/*place global styles here */
html, body { @apply h-full; }

@font-face {
    font-family: 'Inter';
}

code {
    font-family: 'JetBrains Mono', sans-mono;
}

:root {
    --theme-font-family-base: 'Inter', sans-serif;
    --theme-font-family-heading: 'Inter', sans-serif;
}